#map {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
}

.card {
	height: min-content;
}

.grid-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 300px 1fr;
	gap: 2rem;
}

.carousel-item {
	height: 100%;
	width: 100%;
}

.carousel-image {
	height: 100%;
	object-fit: contain;
}

.carousel-inner {
	height: 100%;
	border-radius: 1rem;
	background-color: #333;
}

.starability-basic {
	min-height: auto;
	margin-bottom: 1rem;
}
